{% extends 'index.html' %}
{% load static %}
{% block body_block %}                                                                                                                                                                                         
<style>

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 45%;
    padding: 10px;
    text-align:justify;
}

</style>
<div class="hero-unit">
<div class="row">
    <div class="column">
        <h3 style="color:blue;"><b>About <i>DecisionMaker</i></b></h3>
        This free, online tool was developed for education decision-makers by the <a href="https://www.cbcse.org" target="_blank">Center for Benefit-Cost Studies of Education</a> at Teachers College, Columbia University (CBCSE) with funding from the <a href="http://wtgrantfoundation.org" target="_blank">William T. Grant Foundation</a>. 
    <br><br>
    The decision-making framework used in <i>DecisionMaker</i> is based on Multiattribute Utility Theory (MAUT) as developed by Edwards (1971), Edwards, Guttentag and Snapper (1975), and Edwards and Newman (1982). The <i>DecisionMaker</i> User Manual includes details on the methods. CBCSE worked with a state education agency, three school districts, three individual schools, and many current and aspiring school leaders in a principal preparation program at Teachers College to adapt the framework for educational contexts.  
    <br><br>
    The purpose of <i>DecisionMaker</i> is to facilitate school, district, or state education agency decisions that require a choice between alternative educational programs, strategies, or tools, for example, when choosing among several math curricula or digital devices, or when considering several scale up/scale down scenarios. Decision-makers are invited to identify factors important in distinguishing between alternative solution options and to gather evidence to determine which solution option best meets stakeholder needs. By juxtaposing the quantified value of each solution option against its costs, <i>DecisionMaker</i> allows you to review the trade-offs between monetary investments and stakeholder values.
    <br><br>
    You can use <i>DecisionMaker</i> to work through a decision alone or in collaboration with stakeholders, to facilitate multiple ongoing decisions, and to find resources and guidance to help support the decision-making process.   

    </div>
    <div class="column">
        <br><br>
        &emsp;&emsp;<font color="blue"><b>Steps in the decision-making process:</b></font><br><br>
        &emsp;&emsp;<font color="blue">I</font>&emsp;&nbsp;&nbsp;&nbsp;Identify the decision to be made<br><br>
        &emsp;&emsp;<font color="blue">II</font>&emsp;&nbsp;&nbsp;Identify stakeholders to participate in the decision-making process<br><br> 
        &emsp;&emsp;<font color="blue">III</font>&emsp;&nbsp;Identify Solution Options<br><br>
        &emsp;&emsp;<font color="blue">IV</font>&emsp;&nbsp;Apply screening criteria to the list of Solution Options to create a shortlist of viable options <br><br>
        &emsp;&emsp;<font color="blue">V</font>&emsp;&nbsp;&nbsp;Create a list of evaluation criteria, i.e., factors that will influence the decision<br><br>
        &emsp;&emsp;<font color="blue">VI</font>&emsp;&nbsp;&nbsp;Assign “Importance Scores” to each criterion <br><br>
        &emsp;&emsp;<font color="blue">VII</font>&emsp;&nbsp;Identify measures to assess the extent to which each Solution Option satisfies each criterion<br><br>
        &emsp;&emsp;<font color="blue">VIII</font>&emsp;Collect data to evaluate each Solution Option <br><br>
        &emsp;&emsp;<font color="blue">IX</font>&emsp;&nbsp;&nbsp;Estimate the costs per participant of implementing each Solution Option <br><br>
        &emsp;&emsp;<font color="blue">X</font>&emsp;&nbsp;&nbsp;&nbsp;Use the resulting cost and “utility” values to inform your decision 
    </div>
</div>
<br>
<div align="center">
    <a href="/users/login.html"><b>Login</b></a> <br>
    <a href="/users/register.html"><b>Registration for new users</b></a>
</div>
</div>
{% endblock %}
