{% extends 'Header-Footer.html' %}
{% load static %}
{% block body_block %}                                                                                                                                                                                          

<style TYPE="text/css">
  body * { font-family: "Playfair Display", serif; }                                                                                                                                                        
</style>
<body>
<div class="hero-unit">
    Please Login to view this page.
</div>
</body>
{% endblock %}
