{% extends 'Header-Footer.html' %}
{% load static %}
{% block body_block %}

<div class="hero-unit">
     <h3> Imports </h3>
     <br />
     <a href="/utility_tool/admin/import_cbcse_scrcr.html"><input class="btn btn-warning" type="button" name="goto1" value="Import CBCSE Screening Criteria"></a>
     <a href="/utility_tool/admin/import_cbcse_evacr.html"><input class="btn btn-warning" type="button" name="goto2" value="Import CBCSE Evaluation Criteria"></a>
</div>
{% endblock %}
                         
