{% extends 'Header-Footer.html' %}
{% load static %}
{% block body_block %}
<div class="hero-unit">                                                                                                                 
    <h5><li> <a href="/utility_tool/admin/usage-info.html">Usage Information</a></h5>
    <h5><li> <a href="/utility_tool/admin/userlist.html">User List</a></h5>
    <h5><li> <a href="/utility_tool/admin/extract_data.html">Extract Data from Screening Table for EED</a></h5>
    <h5><li> <a href="/utility_tool/admin/extract_idn_data.html">Extract Data from Identify Measures Table for EED</a></h5>
    <!--<h5><li> <a href="/utility_tool/admin/export_test.html" style="color: red;">Test Export</a></h5>-->  
    <h5><li> <a href="/utility_tool/admin/export_all.html">Export Everything (click on Extract Data for EED first)</a></h5>
    <h5><li> <a href="/utility_tool/admin/export_sr.html">Export real decisions as Summary Reports</a></h5> 
    <h5><li> <a href="/utility_tool/admin/export_sr_t.html">Export training decisions as Summary Reports</a></h5>
    <h5><li> <a href="/utility_tool/admin/export_app.html">Export real decisions as Appendices</a></h5> 
    <h5><li> <a href="/utility_tool/admin/export_app_t.html">Export training decisions as Appendices</a></h5>           
    <h5><li> <a href="/utility_tool/admin/genadmin.html">General Admin</a></h5>
</div>
{% endblock %}

