{% extends 'Header-Footer.html' %}
{% load static %}
{% block body_block %}
{% load tz %}
<script src="sortable.js"></script>
<style TYPE="text/css"> 
table a:link {
    color: #666;
    font-weight: bold;
    text-decoration:none;
}
table a:visited {
    color: #999999;
    font-weight:bold;
    text-decoration:none;
}
table a:active,
table a:hover {
    color: #bd5a35;
    text-decoration:underline;
}
table {
    font-family:Arial, Helvetica, sans-serif;
    color:#666;
    font-size:12px;
    text-shadow: 1px 1px 0px #fff;
    background:#eaebec;
    margin:auto;
    border:#ccc 1px solid;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    -moz-box-shadow: 0 1px 2px #d1d1d1;
    -webkit-box-shadow: 0 1px 2px #d1d1d1;
    box-shadow: 0 1px 2px #d1d1d1;    
}
table th {
    padding:21px 25px 22px 25px;
   border-top:1px solid #fafafa;
    border-bottom:1px solid #e0e0e0;
    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
    background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table th:first-child {
    text-align: left;
    padding-left:20px;
}
table tr:first-child th:first-child {                                                                                                                                                                            
    -moz-border-radius-topleft:3px;
    -webkit-border-top-left-radius:3px;
    border-top-left-radius:3px;
}
table tr:first-child th:last-child {
    -moz-border-radius-topright:3px;
    -webkit-border-top-right-radius:3px;
    border-top-right-radius:3px;                                                                                                         
}
table tr {
    text-align: center;
    padding-left:20px;
}
table td:first-child {
    text-align: left;
    padding-left:20px;
    border-left: 0;
}
table td {
    padding:18px;
    border-top: 1px solid #ffffff;
    border-bottom:1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    background: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
    background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table tr.even td {
    background: #f6f6f6;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));                                             
    background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td {
    border-bottom:0;
}
table tr:last-child td:first-child {
    -moz-border-radius-bottomleft:3px;
    -webkit-border-bottom-left-radius:3px;
    border-bottom-left-radius:3px;
}
table tr:last-child td:last-child {
    -moz-border-radius-bottomright:3px;
    -webkit-border-bottom-right-radius:3px;
    border-bottom-right-radius:3px;
}
table tr:hover td {
    background: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
    background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);  
}
button
    {
    color: #fff;
    font-size: 12px;
    background: #ffa20f;
    -moz-border-radius: 15px;
    border-radius: 15px;                                                                                                                                                                                         
    }

 body * { font-family: "Playfair Display", serif; }                
</style>
 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <!--<link href="{% static 'css/Style.css' %}" rel="stylesheet"> -->
<!-- font-family:    'IBM Plex Sans'; -->
<body>
<div class="hero-unit">
    <div style="color:#0000FF" align="right"><h4>Logged in as {{loggedinuser}}</h4></div>
        <h2 class="form-signin-heading">User Information
        </h2>
        <h4 align="center">Number of Users: {{users_count}}<br><br>
        <input class="btn btn-danger btn-sm" type="submit"  value="Delete Users" onclick="PasstoDel();"/>
        <a href="export_users.html"><input class="btn btn-primary btn-sm" type="button"  value="Export to Excel" /></a>
        </h4>
        <br>
        <table>
          <th></th>
          <th>Id</th>
          <th>User Name</th>
          <th>Email</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Address Line1</th>
          <th>Address Line2</th>
          <th>City</th>
          <th>State</th>
          <th>Zip</th>
          <th>Country</th>
          <th>Phone</th>
          <th>Organization</th>
          <th>Type of Organization</th>
          <th>"Other" Organization Type</th>
          <th>Position</th>
          <th>"Other" Position</th>
          <th>How did you hear about DecisionMaker?</th>
          <th>"Other" Ways</th>
          <th>Would you like updates?</th>     
          <th>Education</th>     
          <th>Age</th>     
          <th>Gender</th>     
          <th>Race</th>     
          <th>"Other" Race</th>     
          <th>Public or Private</th>
          <th>Start Date of Licence</th>
          <th>Licence Expiry Date</th>
          <th>Date Last Logged in</th>
          <th>Number of times Logged in</th>
          <th>Original Registration Date</th>
           {% csrf_token %}
          {% for u in UsersList %}
              <tr>
             <td><input type="checkbox" id="{{u.id}}" value="unchecked" onclick="setId(this);"  style="margin-left:auto; margin-right:auto;"></td>
             <td>{{u.id}}</td>
             <td align="left">{{u.user}}</td>
             <td align="left">{{u.email}}</td>     
             <td align="left">{{u.firstName}}</td>
             <td align="left">{{u.lastName}}</td>
             <td align="left">{{u.addressline1}}</td>
             <td align="left">{{u.addressline2}}</td>
             <td align="left">{{u.city}}</td>
             <td align="left">{{u.state}}</td>
             <td align="left">{{u.zip}}</td>
             <td align="left">{{u.country}}</td>
             <td align="left">{{u.phone}}</td>
             <td align="left">{{u.organisation}}</td>
             <td align="left">{{u.type_of_org}}</td>
             <td align="left">{{u.other_org}}</td>
             <td align="left">{{u.position}}</td>
             <td align="left">{{u.other_pos}}</td>
             <td align="left">{{u.hearaboutus}}</td>
             <td align="left">{{u.other_hear}}</td>       
             <td align="left">{{u.updates}}</td>       
             <td align="left">{{u.education}}</td>       
             <td align="left">{{u.age}}</td>       
             <td align="left">{{u.gender}}</td>       
             <td align="left">{{u.race}}</td>          
             <td align="left">{{u.other_race}}</td>       
             <td align="left">{{u.publicOrPrivate}}</td>
             <td align="left">{{u.startDate}}</td>
             <td align="left">{{u.endDate}}</td>            
             <td align="left">{{u.lastLogin}}</td>
             <td>{{u.timesLoggedin}}</td>
             <td align="left">{{u.orig_reg_date}}</td>
              </tr>
             {% endfor %}
            </table>   
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
var loggedinuser = "{{loggedinuser}}";
var deleted = [];
var toBeDeleted = 'N';
$(function() {$('input[type=checkbox]').attr('checked', false)});
    window.onhashchange = function() {
         if (window.innerDocClick) {
             window.innerDocClick = false;
         } else {
                if (window.location.hash != '#undefined') {
                    goBack();
                } else {
                    history.pushState("", document.title, window.location.pathname);
                    location.reload();
                    }
                 }
    }
    function PasstoDel () {
       if (deleted == []){
          alert('Select an User to delete');}
       else {
          if (confirm('Are you sure you want to delete these users? All the decisions, stakeholders  and other records associated with these users will be deleted too.')) {
                //document.location.href = "/admin/del_user.html";
                toBeDeleted = 'Y'; 
          } else {toBeDeleted = 'N'; }}
    }

    function setId(chkBox){
       var inputs = document.getElementsByTagName("input");
       for (i = 0; i<inputs.length; i++ ) {
          if (inputs[i].type == 'checkbox'){
               if (chkBox.checked) {
                  if (inputs[i].id == chkBox.id) {
                       deleted.push(chkBox.id);
                }}
                // remove the id from the list if the deleted checkbox is unchecked
                else {
                    deleted.splice( deleted.indexOf(chkBox.id), 1 );    
               }
              }                                                                                                                                                                                
         }
    }
    $("input[type='submit']").click(function(e){
       e.preventDefault();
       if (deleted != [] && toBeDeleted == 'Y'){

            $.ajax({
             type:"POST",
             url:"{% url 'userlist' %}",
             data: {
                csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                'deleted':JSON.stringify(deleted),
             },
             success: function(){
                 window.location.reload();
             },
             error: function(){
                //alert('failure');
             }   
            });
       }                        
       return false;
                                                                                                                                                                                                                 
   });                     

</script>
</div>
</body>
{% endblock %}

