<!DOCTYPE html>
<html>
<head>
      <html lang="en" >
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="Header.css">
  <link rel="stylesheet" type="text/css" href="Style.css">
  <link rel="stylesheet" type="text/css" href="0-3-Solution-Options.css">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:200,300,400,600&display=swap" rel="stylesheet">
</head>
<body>
  <!--THIS IS THE REGULAR NAV BAR--><div class="navbar">
    <div class="nav-upper">
    <span style="padding-right: 1%"><i>DecisionMaker</i><sup style="font-size: 0.2em">TM</sup> – the CBCSE Cost-Utility Tool Kit © 2019 Teachers College, Columbia University</span>
      </div>
    <a href="https://www.decisionmakertool.org/Home.html">Home</a>
    <a href="https://www.decisionmakertool.org/Home.html#About-Us">About DM</a>
    <a href="https://www.decisionmakertool.org/utility_tool/decisions/decisions_list.html">My Decisions</a>
    <a href="https://www.decisionmakertool.org/utility_tool/stakeholders/stakeholders.html">My Stakeholders</a>
    <a href="https://www.decisionmakertool.org/Resources-Guidance.html">Resources & Guidance</a>
    <a href="https://www.decisionmakertool.org/Contact-Us.html">Contact Us</a>
    <a href="https://www.decisionmakertool.org/Who-We-Are.html">Who We Are</a>
    <a href="https://www.decisionmakertool.org/utility_tool/users/login.html">Login</a>
    </div>
  <!--THIS IS THE MOBILE NAV BAR--><div class="mobile-nav">
    <div class="nav-upper-mobile">
      <span style="padding-right: 1%"><i>DecisionMaker</i><sup style="font-size: 0.5em">TM</sup> – the&nbspCBCSE&nbspCost-Utility&nbspTool&nbspKit&nbsp<wbr>©&nbsp2019&nbspTeachers&nbspCollege,&nbspColumbia&nbspUniversity</span>
  </div>
  <div class="menuToggle">
      <input type="checkbox">
      <span></span>
      <span></span>
      <span></span>
        <ul class="nav-mobile">
          <a href="https://www.decisionmakertool.org/Home.html"><li class="nav">Home</li></a>
          <a href="https://www.decisionmakertool.org/Home.html#About-Us"><li class="nav">About DM</li></a>
          <a href="https://www.decisionmakertool.org/utility_tool/decisions/decisions_list.html"><li class="nav">My Decisions</li></a>
          <a href="https://www.decisionmakertool.org/utility_tool/stakeholders/stakeholders.html"><li class="nav">My Stakeholders</li></a>
          <a href="https://www.decisionmakertool.org/Resources-Guidance.html"><li class="nav">Resources & Guidance</li></a>
          <a href="https://www.decisionmakertool.org/Contact-Us.html"><li class="nav">Contact Us</li></a>
          <a href="https://www.decisionmakertool.org/Who-We-Are.html"><li class="nav">Who We Are</li></a>
          <a href="https://www.decisionmakertool.org/utility_tool/users/login.html"><li class="nav">Login</li></a>
        </ul>
        </div>
      </div>
<div id="page-container">
  <div class="hero-2" id="SolutionOptions">
      <div class="hero-2-message">
        <h1 id="not-homepage">Solution Options</h1>
      </div>
  </div>
<div class="body">
  <!--Icons are centered starting here in this div wrapper--><div style="text-align: center">
  <!--This is the Info Icon Code-->  <div onclick="myFunction()" class="icon-container-info tooltip">
      <img src="Info-Icon.png" style="width: 70%">
  <!--This is the Info hover Text--><span class="tooltiptext">Click here to view/hide more information</span>
    </div>
  <!--This is the R&G icon code-->  <div class="icon-container-book tooltip">
      <a href="Resources-Guidance.html"><img src="Book-Icon.png" style="width: 70%"></a>
    <!--This is R&G hover text-->  <span class="tooltiptext">Click here for Resources & Guidance</span>
      </div>
</div><!--icons end here-->
<div id="more-info" style="display:none">
  <div id="more-info-message">
  <p>Solution options are ways to address a decision problem, e.g., different strategies for supporting below-grade readers. </p>
    </div>
    </div>
    <div id="float-left"><h5 id="font-2">Decision you are working on:</h5></div>
    <div id="float-right"><h5 id="font-2">Logged in as:</h5></div>
    <table class="instructions">
      <tr>
        <td id="number">I.</td>
        <td>List below each program/strategy/option you think should be considered as a way to address the issue about which you are making a decision. Add the source of the idea. </td>
      </tr>
      <tr>
      <td id="number">II.</td>
      <td>When you are done, click here: <a class="btn-general">Save and Back to Flowchart</a></td>
      </tr>
      <tr>
        <td>&nbsp</td>
        </tr>
      <tr>
        <td colspan="2"><p id="font-2">Optional Steps:</p></td>
      <tr>
      <td id="number">III.</td>
      <td>Add or view any relevant information, web sites or documents for each option using the “Solution Option Details” buttons. </td>
      </tr>
      <tr>
      <td id="number">IV.</td>
      <td>If you want to share this page with other people without them logging into DecisionMaker, you can create a public link to embed in an email or other communication: <a class="btn-general" href="#">Create a Public Link</a></td>
      </tr>
      <tr>
      <td id="number">V.</td>
      <td>The Project Administrator can temporarily remove any of the options to take them out of the consideration set by clicking on “Put this away for now” under each option. You can retrieve them any time from here: <a class="btn-general" href="#">Archived Solution Options</a></td>
      </tr>
      <tr>
      <td id="number">VI.</td>
      <td>If the Project Administrator wants to invite stakeholders to suggest Solution Options or review who has already been invited, click here: <a class="btn-general" href="#">Save and Add/View Stakeholders</a></td>
      </tr>
      </table>
      <br>
      <div style="padding: 0 2%; border: 2px inset darkgray; border-radius: 12px">
        <p id="blue">If you need to enter additional Solution Options, more empty boxes will appear after you click on “Save and Back to Flowchart”.</p>
</div>
      <!--AMRITHA the only way I could get the "save and back to flowchart" button to look the same here as up top was to wrap it in the same table class, so the stand-alone button needs this table class--><table class="instructions">
        <tr>
          <td style="text-align: right">
            <a class="btn-general" href="#">Save and back to flowchart</a>
            </td>
            <tr>
              </table>
              <br>
    </div>
    </div>
    <script>
  function myFunction() {
    var x = document.getElementById("more-info");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
  </script>
  </html>
