{% extends 'index.html' %}
{% load static %}
{% block body_block %}

<style type="text/css">
body .handsontable .grey {
  color: black;
    background: #DCDCDC;
    }

body .handsontable .htAutocompleteArrow {
         color: black;
    }
    </style>    
</style><script src="https://cdn.jsdelivr.net/npm/handsontable-pro@6.1.0/dist/handsontable.full.js"></script>
<link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable-pro@6.1.0/dist/handsontable.full.css">
<div class="hero-unit">
    <div style="color:#0000FF" align="left"><h4>Decision you are working on: {{dec_title}}</h4></div>    
    <div class="container-fluid">
             <form method="post" enctype="multipart/form-data">
               {% csrf_token %} 
                <script src="{% static 'js/bootstrap.min.js' %}"></script>  
             <h2 class="form-signin-heading">Screening Criteria - page under construction</h2>
             <h5 style="border: 2px solid grey;padding-left: 15px;">
                 <br>Screening criteria are non-negotiable requirements that you can use to help you narrow down the list of Solution Options to a number that will be feasible to evaluate fully
                 <br><br>If you click on the light grey triangle at the right-hand side of each cell in the Screening Criteria column below, you can select from a list of possible screening criteria. You can also write in your own screening criteria 
                 <br><br>You can think about screening criteria either before you identify Solution Options or after you have identified a list of Solution Options

                 <br><br>Screening criteria should be items that can be answered yes/no quickly for each possible Solution Option. Any criterion that cannot be assessed quickly should be entered as an "Evaluation Criterion" a step later in the flowchart so you can gather more information to more thoroughly evaluate whether each option meets this criterion.

                 <br><br>For example, if you are choosing a digital tool for middle school math practice, initial screening criteria might include:
                  <ul><li type="square" style="color: #888;"> Works on Chromebooks
                  <li type="square" style="color: #888;"> Existing research evidence to show tool helps middle school students improve performance on standardized math tests </li> </ul>
              It may be easy to determine whether a tool works on Chromebooks but it may take more time and effort to look for or collect your own evidence of effectiveness. As a result, you may decide to move the second item to Evaluation Criteria
              <br><br>Once screening criteria have been listed, the PA can click “Map Against Solution Options” to determine which Solution Options pass the screening 

              <br><br>If you don’t need to narrow the list of Solution Options, skip this step and proceed straight to the “Evaluation Criteria” step in the flowchart 

             <br><br></h5>
             <!-- Provide a button to click to submit the form. -->
             <input class="btn btn-primary" type="submit" name="submit" id="save" value="Save and Back to Flowchart"/>     
             <!--<input class="btn btn-primary" type="submit" name="submit2" value="Add / View Information on Criteria"/>-->
              {% if mapping_allowed == 'Y' %}
                 {% if solopt_count == 0 %} 
                     <a href="/utility_tool/decisions/solution_options/add_solopt_det.html"><input class="btn btn-primary" type="submit" name="solopt" id="solopt" value="Save and Map against Solution Options"></a>
                 {% else %}
                     <a href="/utility_tool/decisions/solution_options/handsontable.html"><input class="btn btn-primary" type="submit" name="map" id="map" value="Save and Map against Solution Options"></a>
                 {% endif %}
              {% endif %}
              {% if loggedinuser == created_by  %} 
                 <input class="btn btn-primary" type="submit" name="st" id="st" value="Save and Add/View Stakeholders"/>    
              {% endif %}    
             <br><b><font color="red">{{ err }} </font></b><br>
      
             <input type="checkbox" name="scrcr" id="fits" value="Fits within available budget"> Fits within available budget <input type="text" id="fits2" name="fits2" style="width: 1000px;" value="{{fits2}}"><br>   
             <input type="checkbox" name="scrcr" id="datereq" value="Can be implemented by date required"> Can be implemented by date required <input type="text" id="datereq2" name="datereq2" style="width: 1000px;" value="{{datereq2}}"><br> 
             <input type="checkbox" name="scrcr" id="priv" value="Comports with privacy standards"> Comports with privacy standards <input type="text" id="priv2" name="priv2" style="width: 1000px;" value="{{priv2}}"><br> 
             <input type="checkbox" name="scrcr" id="evid" value="Evidence of effectiveness exists"> Evidence of effectiveness exists <input type="text" id="evid2" name="evid2" style="width: 1000px;" value="{{evid2}}"><br> 
             <input type="checkbox" name="scrcr" id="sch" value="Fits within school schedule"> Fits within school schedule <input type="text" id="sch2" name="sch2" style="width: 1000px;" value="{{sch2}}"><br> 
             <input type="checkbox" name="scrcr" id="learn" value="Meets content requirements/ learning objectives"> Meets content requirements/ learning objectives <input type="text" id="learn2" name="learn2" style="width: 1000px;" value="{{learn2}}"><br> 
             <input type="checkbox" name="scrcr" id="stcode" value="Meets state code and/or other regulations"> Meets state code and/or other regulations <input type="text" id="stcode2" name="stcode2" style="width: 1000px;" value="{{stcode2}}"><br> 
             <input type="checkbox" name="scrcr" id="target" value="Serves target population (grade level, ESL etc.)"> Serves target population (grade level, ESL etc.) <input type="text" id="target2" name="target2" style="width: 1000px;" value="{{target2}}"><br>
             <input type="text" id="cri1" name="cri1" style="width: 1000px;"><br> 
             <input type="text" id="cri2" name="cri2" style="width: 1000px;"><br> 
             <input type="text" id="cri3" name="cri3" style="width: 1000px;"><br> 
             <input type="text" id="cri4" name="cri4" style="width: 1000px;"><br> 
             <input type="text" id="cri5" name="cri5" style="width: 1000px;"><br>
             <input type="text" id="cri6" name="cri6" style="width: 1000px;"><br> 
             <input type="text" id="cri7" name="cri7" style="width: 1000px;"><br> 
             <input type="text" id="cri8" name="cri8" style="width: 1000px;"><br> 
             <input type="text" id="cri9" name="cri9" style="width: 1000px;"><br> 
             <input type="text" id="cri10" name="cri10" style="width: 1000px;"><br>     
         <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
         <script type="text/javascript">
         var dec_id = '{{ dec_id }}';
         var stakeholdersNow = '{{stakeholdersNow}}';
         var fits_view = '{{fits}}';
         var dt_view = '{{datereq}}';
         var priv_view = '{{priv}}';
         var evid_view = '{{evid}}';
         var sch_view = '{{sch}}';
         var learn_view = '{{learn}}';
         var stcode_view = '{{stcode}}';
         var target_view = '{{target}}';
          
         if (fits_view == "Y") { 
            $("#fits").prop("checked", true);
         }
         if (dt_view == "Y") { 
            $("#datereq").prop("checked", true);
         }
         if (priv_view == "Y") { 
            $("#priv").prop("checked", true);
         }
         if (evid_view == "Y") { 
            $("#evid").prop("checked", true);
         }
         if (sch_view == "Y") { 
            $("#sch").prop("checked", true);
         }
         if (learn_view == "Y") { 
            $("#learn").prop("checked", true);
         }
         if (stcode_view == "Y") { 
            $("#stcode").prop("checked", true);
         }
         if (target_view == "Y") { 
            $("#target").prop("checked", true);
         }

        /*$("#submit").on('click', function (e) {
                 var selected = [];     
               
                 if(!$("#fits")).is(':checked')) {
                    selected.push('fits');
                }
                });      */
         </script> 
         </form>
      </div>
</div>


{% endblock %}


