{% extends 'index.html' %}
{% load static %}
{% block body_block %}

<div class="hero-unit">
<div style="color:#0000FF" align="left"><h4>Decision you are working on: {{dec_title}}</h4></div>
<div class="container-fluid">
<div class="row">    
<h2>DO NOT USE - PAGE UNDER CONSTRUCTION</h2>
<h3 class="form-signin-heading">Input Cost Information</h3>    
<form id="form1" method="post"  enctype="multipart/form-data">
{% csrf_token %}
{% if loggedinuser == created_by %}
   <input class="btn btn-primary" type="submit" name="submit" id="submit" value="Save"/>
{% endif %}
   <a href="/utility_tool/decisions/{{ dec_id }}/menu.html"><input class="btn btn-success" type="button" name="cancel" value="Back to Decision Flowchart"/></a>
<br> <br>
<!--<font color="blue"> To scroll right and left click in one of the cells (except the first 3 columns) and use the arrow keys on your keyboard.</font><img src="{% static "rightarrow.png" %}"><br>-->
    Which cost metric is most informative for your decision making?  <br>
    <input type="radio" name="type" id="Total" value="Total"> Total program costs for all participants served <br>
    <input type="radio" name="type" id="Avg" value="Avg"> Average program costs per student or teacher served <br>
    <input type="radio" name="type" id="Marginal" value="Marginal"> The marginal costs of adding each additional participant to an established program <br><br>
    <br>
    If you already have the cost estimates for each solution option in hand, please use the table below.
    <br>
    <h4>Cost Table</h4> 
    <table title="Costs" id="t1" style="font-size:16px;align:center;">
             <tr> 
                <td bgcolor="lightblue" style="border: 1px solid grey;"><b>Solution Option</b></td>
                 <td bgcolor="lightblue" style="border: 1px solid grey;"><b>Number of participants served</b></td>
                 <td bgcolor="lightblue" style="border: 1px solid grey;"><b>{{cost_text}}</b></td>
            </tr>
            <tbody>
            {% for c  in cost_table  %}
            <tr>
	         <td bgcolor="lightgrey" style="border: 1px solid grey;" id="option{{c.id}}">{{ c.sol_option }}</td>
             {% if loggedinuser == created_by %}
	             <td bgcolor="white" style="border: 1px solid grey;"><div id="no_of_participants{{c.id}}" contenteditable>{{ c.no_of_participants }}</div></td>
                 <td bgcolor="white" style="border: 1px solid grey;"><div id="cost{{c.id}}" contenteditable>{{ c.cost }}</div></td>
             {% else %}
                 <td bgcolor="lightgrey" style="border: 1px solid grey;" id="no_of_participants{{c.id}}">{{ c.no_of_participants }}</td>
                 <td bgcolor="lightgrey" style="border: 1px solid grey;" id="cost{{c.id}}">{{ c.cost }}</td>
             {% endif %}
            </tr>
            </tbody>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript">
    var loggedinuser = '{{loggedinuser}}';
    var created_by = '{{created_by}}';

    $(document).ready(function () {
        var type_GET = '{{type_of_cost}}';    

        if (type_GET == 'Total') {
           $("#Total").prop("checked", true);
        } else if (type_GET == 'Avg') {   
           $("#Avg").prop("checked", true);
        } else if (type_GET == 'Marginal') {   
           $("#Marginal").prop("checked", true);   
        }

        $('#no_of_participants{{c.id}}').html() = "";
        });        

    $('#submit').off('click');

    $("#submit").on('click', function (e) {
        if ($('#cost{{c.id}}').html() < 0) {
          alert('Cost should not be less than 0');
          e.preventDefault();
       }
       else {
       e.preventDefault();
       var radioValue = $("input[name='type']:checked").val();
       $.ajax({
                 type:"POST",
                 url:"{% url 'cost_setup' %}",
                 data: {
                        csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                        'id':{{c.id}},
                        'sol_option':$('#sol_option{{c.id}}').text(),
                        'no_of_participants':$('#no_of_participants{{c.id}}').html(),
                        'cost':$('#cost{{c.id}}').html(),
                        'radioValue':radioValue
                        },
                  success: function(){
                  //alert('success');
                  window.location.reload();
                  },
                  error: function(){
                  //alert('failure');
                  }    
            });}
            return false;

    });
</script>
{% endfor %}
</table>
 <br/> 
 If not, you can use a free, online tool,<a href="https://www.cbcsecosttoolkit.org/" target="_blank"> CostOut</a>, funded by the Institute of Education Sciences at the U.S. Department of Education, to help you estimate the cost of each solution option. You will need information about all the resources or ingredients used to implement the program.  
</form>
</div>
</div>
{% endblock %}
