{% extends 'index.html' %}
{% load static %}
{% block body_block %}

<style TYPE="text/css">
</style>
<div class="hero-unit">
<div class="container">
<form class="form-signin span8" id="form1" method="post"  enctype="multipart/form-data">
<br>
Do you wish to enter the proposed Solution Options?  <br><br> 
<input type="radio" name="gotoSolOpts" value="Yes"> Yes, Go to Solution Options <br>
<input type="radio" name="gotoSolOpts" value="No"> No, I would like to view some Guidance <br>
<input type="radio" name="gotoSolOpts" value="No2"> No, I would like to add some Screening Criteria <br>
<br><a href="/utility_tool/decisions/decisions_list.html"><input class="btn btn-success" type="button" name="cancel" value="Back to Decision to Make
 List"/></a>
<input class="btn btn-success" type="button" name="next" value="Next >>">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $("input[name='next']").click(function(){
            var radioValue = $("input[name='gotoSolOpts']:checked").val();
            if(radioValue == "Yes"){
                document.location.href = "/utility_tool/decisions/solution_options/question2.html";
                //alert("Your are a - " + radioValue);
            } else if (radioValue == "No") {
              document.location.href = "/utility_tool/decisions/solution_options/guidance.html";
            } else if (radioValue == "No2") {
              //alert("No2");
              document.location.href = "/utility_tool/decisions/solution_options/add_scr_criteria.html";
            }
        });
        
    });

</script>
</form>
</div>
</div>

{% endblock %}

