{% extends 'Header-Footer.html' %}
{% load static %}
{% block body_block %}

<style TYPE="text/css">
 ul li {
            list-style: none;    
       }  

.errorlist
{
       color: red;                                                                                                                                                                                          
}

.sticky {
   position: -webkit-sticky;
   position: sticky;
   position: -moz-sticky;
   position: -ms-sticky;
   position: -o-sticky;
   top: 15px;
}

.center{
  position: fixed;
  top: 15%;
  right: 100px;
  width: 115px;
  height: 0px;
}            
 body * { font-family: "Playfair Display", serif; }             
</style>
<body>
<div class="hero-unit">
    <div class="container-fluid">
             <form id="changeform" method="post" enctype="multipart/form-data">
             {% csrf_token %}
             <h2 class="form-signin-heading">Change Password</h2>
             <p></p>
             <br>
             <b><font color="red">{{ err }} </font></b>
             <br>
             {{ changeform }}
             <br />
             <span style="float:right;">
             <input class="btn btn-success" type="submit" name="submit" value="Save"/>
             </span> 
         </form>
      </div>
</div>
</body>

{% endblock %}
