<!DOCTYPE html>
{% load static %} <!-- New line -->
<!--AMRITHA: MAKE SURE TO ADD NAV LINKS TO BOTH REGULAR NAV BAR AND MOBILE NAV BAR-->
<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
        <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
        <link href="{% static 'css/Style.css' %}" rel="stylesheet">
        <link href="{% static 'css/Header.css' %}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Muli:200,300,400,600&display=swap" rel="stylesheet">
    </head>
    <body>
    <!--THIS IS THE REGULAR NAV BAR--><div class="navbar">
      <div class="nav-upper">
      <span style="padding-right: 1%"><i>DecisionMaker</i><sup style="font-size: 0.2em">TM</sup> – the CBCSE Cost-Utility Tool Kit © 2019 Teachers College, Columbia University</span>
      </div>
      <ul class="nav">
      <li class="nav"><a href="/Home.html">Home</a></li>
      <li class="nav"><a href="/Home.html#About-Us">About DM</a></li>
      <li class="nav"><a href="/utility_tool/decisions/decisions_list.html">My Decisions</a></li>     
      <li class="nav"><a href="/utility_tool/stakeholders/stakeholders.html">My Stakeholders</a></li>
      <li class="nav"><a href="/Resources-Guidance.html">Resources & Guidance</a></li>
      <li class="nav"><a href="/Contact-Us.html">Contact Us</a></li>
      {% if loggedinuser == '' or loggedinuser == ' ' or loggedinuser is None or loggedinuser == 'not found' %}
         <li class="nav"><a href="/utility_tool/users/login.html">Login</a></li>
      {% else %}
         <li class="nav"><a href="/logout.html">Logout</a></li> 
      {% endif %}
      </ul>
      </div>
      <!--THIS IS THE MOBILE NAV BAR--><div class="mobile-nav">
        <div class="nav-upper-mobile">
          <span style="padding-right: 1%"><i>DecisionMaker</i><sup style="font-size: 0.5em">TM</sup> – the CBCSE Cost-Utility Tool Kit<br> © 2019 Teachers College, Columbia University</span>
      </div>
      <div class="menuToggle">
          <input type="checkbox">
          <span></span>
          <span></span>
          <span></span>
          <ul class="nav">
          <li class="nav"><a href="/Home.html">Home</a></li>
          <li class="nav"><a href="/Home.html#About-Us">About DM</a></li>
          <li class="nav"><a href="/utility_tool/decisions/decisions_list.html">My Decisions</a></li>     
          <li class="nav"><a href="/utility_tool/stakeholders/stakeholders.html">My Stakeholders</a></li>
          <li class="nav"><a href="/Resources-Guidance.html">Resources & Guidance</a></li>
          <li class="nav"><a href="/Contact-Us.html">Contact Us</a></li>
          {% if loggedinuser == '' or loggedinuser == ' ' or loggedinuser is None or loggedinuser == 'not found' %}
             <li class="nav"><a href="/utility_tool/users/login.html">Login</a></li>
          {% else %}
             <li class="nav"><a href="/logout.html">Logout</a></li> 
          {% endif %}
          </ul>
          </div>
          </div><!--MOBILE NAV BAR ENDS-->
        <div>
        {% block body_block %}
        {% endblock %}
        </div>
    <!--/.fluid-container-->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
     </body>
    </html>
