<!DOCTYPE html>

<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="style.css">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i" rel="stylesheet">
    </head>
    <body>
      <div class="nav-upper">
        <p id="nav-upper"><i>DecisionMaker</i><sup style="font-size: 0.2em">TM</sup> – the CBCSE Cost-Utility Tool Kit © 2019 Teachers College, Columbia University</p>
      <ul class="nav">
        <li class="nav"><a href="Home.html">Home</a></li>
        <li class="nav"><a href="Home.html#About-Us">About DM</a></li>
        <li class="nav"><a href="">My Decisions</a></li>
        <li class="nav"><a href="">My Stakeholders</a></li>
        <li class="nav"><a href="Resources-Guidance.html">Resources & Guidance</a></li>
        <li class="nav"><a href="Contact-Us.html">Contact Us</a></li>
        <li class="nav"><a href="">Login</a></li>
      </ul>
      </div>
    <footer>
      <p align="center" id="footer">Developed by <a class="footer-link" href="https://www.cbcse.org/" target="_blank">CBCSE&nbsp;»</a> at <a class="footer-link" href="https://www.tc.columbia.edu/" target="_blank">Teachers College, Columbia University&nbsp;»</a> with the generous support of the <a class="footer-link" href="http://wtgrantfoundation.org/" target="_blank">William T. Grant Foundation&nbsp;»</a>, <i>DecisionMaker</i><sup style="font-size:.1em">TM</sup> is freely available to all educators to facilitate collaborative and evidence-based decision-making in education.</p>
      </footer>
     </body>
    </html>