<!DOCTYPE html>
{% load static %} <!-- New line -->

<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
        <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
        <link href="{% static 'css/Style.css' %}" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i" rel="stylesheet">
        <title>CBCSE Cost Utility Tool Kit</title>
    </head>

    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <h4 style="color:grey"><i>DecisionMaker</i>&#153; - A Cost-Utility Tool Kit 2019</h4>
                    <ul>
                    <li><a href="default.asp">Home</a></li>                                                                                                       
                    <li><a href="news.asp">About DM</a></li>
                     <li><a href="contact.asp">My DM</a></li>
                    <li><a href="about.asp">My Decisions</a></li>
                     <li><a href="about.asp">My Stakeholders</a></li>
                     <li><a href="about.asp">Contact</a></li>
                     <li><a href="about.asp">Login</a></li>
                     </ul>   
                </div>
           </div>
        </div>
        <div>
        {% block body_block %}
        {% endblock %}
        </div>
    <!--/.fluid-container-->
    <footer>
        <div class="container" align="center">
             {% block footer_block %}
             {% endblock %}
        </div>
    </footer>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
     </body>
    </html>




