<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="Style.css">
    <link rel="stylesheet" type="text/css" href="Header.css">
    <link rel="stylesheet" type="text/css" href="Who-We-Are.css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:200,300,400,600&display=swap" rel="stylesheet">
</head>
<div class="navbar">
  <div class="nav-upper">
  <span style="padding-right: 1%"><i>DecisionMaker</i><sup style="font-size: 0.2em">TM</sup> – the CBCSE Cost-Utility Tool Kit © 2019 Teachers College, Columbia University</span>
    </div>
  <a href="Home.html">Home</a>
  <a href="Home.html#About-Us">About DM</a>
  <a href="My-Decisions.html">My Decisions</a>
  <a href="0-2-My-Stakeholders.html">My Stakeholders</a>
  <a href="Resources-Guidance.html">Resources & Guidance</a>
  <a href="Contact-Us.html">Contact Us</a>
  <a href="Who-We-Are.html">Who We Are</a>
  <a href="https://www.decisionmakertool.org/utility_tool/users/login.html">Login</a>
  </div>
<div class="mobile-nav">
  <div class="nav-upper-mobile">
    <span style="padding-right: 1%"><i>DecisionMaker</i><sup style="font-size: 0.5em">TM</sup> – the&nbspCBCSE&nbspCost-Utility&nbspTool&nbspKit&nbsp<wbr>©&nbsp2019&nbspTeachers&nbspCollege,&nbspColumbia&nbspUniversity</span>
</div>
<div class="menuToggle">
    <input type="checkbox">
    <span></span>
    <span></span>
    <span></span>
      <ul class="nav-mobile">
        <a href="Home.html"><li class="nav">Home</li></a>
        <a href="Home.html#About-Us"><li class="nav">About DM</li></a>
        <a href="#"><li class="nav">My Decisions</li></a>
        <a href="Pages/My-Stakeholders.html"><li class="nav">My Stakeholders</li></a>
        <a href="Resources-Guidance.html"><li class="nav">Resources & Guidance</li></a>
        <a href="Contact-Us.html"><li class="nav">Contact Us</li></a>
        <a href="Who-We-Are.html"><li class="nav">Who We Are</li></a>
        <a href="https://www.decisionmakertool.org/utility_tool/users/login.html"><li class="nav">Login</li></a>
      </ul>
      </div>
    </div>
<div id="page-container">
  <div class="hero-2">
    <div class="hero-2-message">
      <h1 id="not-homepage">Who We Are</h1>
    </div>
  </div>
  <div class="body">
    <h2 style="letter-spacing:.1em; color:#305970;">Our Team</h2>
    <br>
    <br>
    <div class="gallery-wrapper">
    <section class="gallery">
      <ul>
        <li>
          <a href="Our-Team.html#Fiona-Hollands">
            <figure>
              <img src="Bio-Fiona.jpg" alt="Black and white portrait photo of Fiona Hollands">
              <figcaption>Fiona Hollands</figcaption>
            </figure>
          </a>
          <p>Associate Director, CBCSE, and Senior Researcher</p>
        </li>
        <li>
          <a href="Our-Team.html#Henry-Levin">
            <figure>
              <img src="Bio-Henry.jpg" alt="Black and white portrait photo of Henry Levin">
              <figcaption>Henry Levin</figcaption>
            </figure>
          </a>
          <p>Founder and Director of CBCSE, Professor of Economics and Education</p>
        </li>
        <li>
          <a href="Our-Team.html#Yilin-Pan">
            <figure>
              <img src="Bio-Yilin.jpg" alt="Black and white portrait photo of Yilin Pan">
              <figcaption>Yilin Pan</figcaption>
            </figure>
          </a>
          <p>Post-Doctoral Researcher</p>
        </li>
        <li>
          <a href="Our-Team.html#James-Corter">
            <figure>
              <img src="Bio-James.jpg" alt="Black and white portrait photo of James Corter">
              <figcaption>James Corter</figcaption>
            </figure>
          </a>
          <p>Professor of Statistics and Education</p>
        </li>
        <li>
          <a href="Our-Team.html#Maya-Escueta">
            <figure>
              <img src="Bio-Maya.jpg" alt="Black and white portrait photo of Maya Escueta">
              <figcaption>Maya Escueta</figcaption>
            </figure>
          </a>
          <p>Researcher</p>
        </li>
        <li>
          <a href="Our-Team.html#Amritha-Menon">
            <figure>
              <img src="Bio-Amritha.jpg" alt="Black and white portrait photo of Amritha Menon">
              <figcaption>Amritha Menon</figcaption>
            </figure>
          </a>
          <p>Software Engineer</p>
        </li>
        <li>
          <a href="Our-Team.html#Atsuko-Muroga">
            <figure>
              <img src="Bio-Atsuko.jpg" alt="Black and white portrait photo of Atsuko Muroga">
              <figcaption>Atsuko Muroga</figcaption>
            </figure>
          </a>
          <p>Researcher</p>
        </li>
        <li>
          <a href="Our-Team.html#Aasiya-Kazi">
            <figure>
              <img src="Bio-Aasiya.jpg" alt="Black and white portrait photo of Aasiya Kazi">
              <figcaption>Aasiya Kazi</figcaption>
            </figure>
          </a>
          <p>Researcher</p>
          </li>
        </ul>
    </section>
  </div>
  <br>
  <br>
  <h2 style="letter-spacing:.1em; color:#305970;">Collaborating Education Agencies</h2>
  <br>
  <p>Many thanks to the following educational organizations who collaborated with us to develop and test <i>DecisionMaker</i><sup style="font-size:.4em">TM</sup>:</p>
<!--  <div style="text-align:center; padding-top: 2%;">
    <img src="US-Map.png" style="max-width: 60%">
  </div>-->
  <div id="collaborators-wrapper">
  <section class="collaborators">
    <div class="state" id="KS">
      <img src="WWA-Kansas-State.png" alt="Logo for Kansas State Department of Education, which features a blue circle and an outline of a stick figure jumping for a star" style="width: 40%">
    </div>
    <div class="text" id="KS">
      <div><h5><a href="https://www.ksde.org/Kansas" target="_blank">Kansas State Department of Education, KS&nbsp;»</a></h5>
        <ul>
          <li>Kansas State Department of Education, with a staff of 234, serves more than 500,000 students across the State of Kansas.</li>
        </ul>
      </div>
    </div>
    <div class="state" id="NC">
      <img src="WWA-Wake-County.png" alt="Blue and white logo for Wake County Public School Systems">
    </div>
    <div class="text" id="NC">
      <div><h5><a href="https://www.wcpss.net/" target="_blank">Wake County Public School System, NC&nbsp;»</a></h5>
      <ul>
        <li>Matthew Lenard: Director, Data Strategy & Analytics (2017-18)</li>
        <li>Colleen Paeplow: Senior Director, Program Accountability (2018-19)</li>
        <li>Brad McMillen: Assistant Superintendent for Data, Research, and Accountability (2017-19)</li>
      </ul>
    </div>
  </div>
  <div class="state" id="CA">
    <img src="WWA-Fresno-Unified.png" alt="Logo for Freso Unified School District, which has a blue outline of a graduation cap in the upper left corner">
  </div>
  <div class="text" id="CA">
  <div><h5><a href="https://www.fresnounified.org/" target="_blank">Fresno Unified School District, CA&nbsp;»</a></h5>
    <ul>
      <li>Adam Bonilla: Interim Director, Equity and Access (2017-18)</li>
      <li>Wendy McCulley: Director of African American Students Initiative (2017-18)</li>
      <li>David Jansen: Executive Officer, Equity and Access (2017-19)</li>
      <li>Kim Mecum: Chief Academic Officer (2017-19)</li>
    </ul>
  </div>
</div>
<div class="state" id="TX">
  <img src="WWA-Houston-ISD.png" alt="Circular logo for Houston Independent School District, with a large star in the middle" style="width: 40%">
</div>
<div class="text" id="TX">
  <div><h5><a href="https://www.houstonisd.org/hisd" target="_blank">Houston Independent School District&nbsp;»</a></h5>
    <ul>
      <li>Venita Holmes: Manager, Department of Research & Accountability (2017-19)</li>
      <li><a href="https://www.houstonisd.org/Page/169775" target="_blank">Felicia Adams: Area Superintendent Achieve 180&nbsp;»</a> (2017-19)</li>
      <li><a href="https://www.houstonisd.org/Page/128578" target="_blank">Grenita Lathan: Interim Superintendent&nbsp;»</a> (2017-19)</li>
    </ul>
  </div>
</div>
<div class="state" id="IN">
  <img src="WWA-21-Century.png" alt="Logo for 21st Century Charter School, which features a red outline of an apple in the upper right corner">
</div>
<div class="text" id="IN">
  <div><h5><a href="https://21cchartergary.org/" target="_blank">21st Century Charter School, Gary, IN&nbsp;»</a></h5>
    <ul>
      <li>Daniel Velasco: Assistant Principal (2017-2019); Middle School Principal (2019-2020); Interim High School Principal (2019 - )</li>
      <li>Anthony Cherry: Lead Principal (2017-19)</li>
    </ul>
  </div>
</div>
<div class="state" id="NJ">
  <img src="WWA-North-Star.jpg" alt="Navy and white rectangular logo for Uncommon Schools, North Star">
</div>
<div class="text" id="NJ">
  <div><h5><a href="http://northstar.uncommonschools.org/" target="_blank">North Star Academy Washington Park High School, Newark, NJ&nbsp;»</a></h5>
    <ul>
      <li>Kate Starke: 9th and 10th grade Academy Leader (2017-19)</li>
      <li>Michael Mann: Head of School (2017-19)</li>
    </ul>
  </div>
</div>
<div class="state" id="NY-1">
  <img src="WWA-NYC-Lab.jpg" alt="Green square logo with white text that says NYC Lab School" style="width: 30%">
</div>
<div class="text" id="NY-1">
  <div><h5><a href="https://www.nyclabschool.org/" target="_blank">New York City Lab School for Collaborative Studies, NYC, NY&nbsp;»</a></h5>
    <ul>
      <li>Jason Koch: ELL coordinator, Teacher of high school Spanish and ESL (2017-18)</li>
      <li>Olivia Arroyo: Global History Instructor (2018-19)</li>
      <li>Christina White: Assistant Principal (2017-19)</li>
    </ul>
  </div>
</div>
<div class="state" id="NY-2">
  <img src="WWA-Teachers-College.png" alt="Dark blue rectangular logo with white text that says Teachers College, Columbia University">
</div>
<div class="text" id="NY-2">
  <div><h5><a href="https://www.tc.columbia.edu/organization-and-leadership/spa-nyc/" target="_blank">Summer Principals Academy, Teachers College, Columbia University, NY&nbsp;»</a></h5>
    <ul>
      <li>Nicole Limperopulos: Acting Director (2016-18)</li>
      <li>Donna Gray: Assistant Director (2016-18)</li>
      <li><a href="https://www.tc.columbia.edu/organization-and-leadership/spa-nyc/about/the-spa-team/" target="_blank">Mark Gooden: Director&nbsp;»</a> (2018-19)</li>
      <li><a href="https://www.tc.columbia.edu/organization-and-leadership/spa-nyc/about/the-spa-team/" target="_blank">Yolanda Davis: Associate Director&nbsp;»</a> (2018-19)</li>
      <li><a href="https://www.tc.columbia.edu/organization-and-leadership/spa-nyc/about/the-spa-team/" target="_blank">Penny Kapanika: Assistant Director&nbsp;»</a> (2018-19)</li>
      <li>Over 200 educators training to become school leaders</li>
    </ul>
  </div>
</div>
</div>
</div>
</div>
<footer>
  <p id="footer">Developed by <a class="footer-link" href="https://www.cbcse.org/" target="_blank">CBCSE&nbsp;»</a> at <a class="footer-link" href="https://www.tc.columbia.edu/" target="_blank">Teachers College, Columbia University&nbsp;»</a> with the generous support of the <a class="footer-link" href="http://wtgrantfoundation.org/" target="_blank">William T. Grant Foundation&nbsp;»</a>, <i>DecisionMaker</i><sup style="font-size:.1em">TM</sup> is freely available to all educators to facilitate collaborative and evidence-based decision-making in education.</p>
  </footer>
</html>
